html {
  font-size: 12px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #444;
  margin: 0;
}
h1 {
  font-size: 2.4rem
}
h2 {
  font-size: 2.0rem
}
h3 {
  font-size: 1.6rem
}
